{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1><span style="color: #05016a">Z</span>Shop</h1>

<a class="navlink" href="/">Главная</a>
<a class="navlink" href="/products">Товары</a>
<a class="navlink" href="/aboutus">О нас</a>

</div>

<div class="productDetails">
    <img class="productImage" src="{{ product.image_url }}">
    <div class="productTitle">
        <h1>{{ product.name }}</h1>
        <div class="productPrice">
            <h3>{{ product.price }} ₽</h3>
            <button>Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<div class="productDescription">
    <h2>Характеристики:</h2>

    {% if product.speed %}
        <p>Скорость: {{ product.speed }} км/ч</p>
    {% endif %}
    {% if product.size %}
        <p>Размер: {{ product.size }} </p>
    {% endif %}
    {% if product.material %}
        <p>Материал: {{ product.material }} </p>
    {% endif %}

</div>